.forgotPassword {
  width: 100%;
  margin: 0;
}
.forgotPassword .forgotPasswordContent {
  padding: 70px 0;
}
.forgotPassword .forgotPasswordContent .left {
  background-color: #fff;
  text-align: center;
  padding: 40px;
  border: 1px solid #ecf0f1;
  height: 100%;
}
.forgotPassword .forgotPasswordContent .left h5 {
  font-family: 'Rubik-Medium';
  font-size: 14px;
  color: #1C113D;
  margin-bottom: 25px;
}
.forgotPassword .forgotPasswordContent .left button {
  height: 48px;
  width: 100%;
  font-family: 'Rubik-Bold';
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #57D284;
  border-radius: 1px;
}
.forgotPassword .forgotPasswordContent .right {
  padding-left: 15px;
  padding-right: 15px;
}
@media(max-width: 767px){
  .forgotPassword .forgotPasswordContent .right {
    padding-left: 0;
    padding-right: 0;
    margin-top: 15px;
  }
}
.forgotPassword .forgotPasswordContent .right .formBody {
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ecf0f1;
}
.forgotPassword .forgotPasswordContent .right .formBody label {
  border-bottom: 2px solid #57D284;
  font-family: 'Rubik-Regular';
  font-size: 30px;
  color: #1C113D;
}
.forgotPassword .forgotPasswordContent .right .formBody p {
  margin-top: 25px;
  font-family: 'Rubik-Regular';
  font-size: 12px;
  color: #1C113D;
}
.forgotPassword .forgotPasswordContent .right .formBody input {
  width: 100%;
  border: 1px solid #C9C9C9;
  font-family: 'Rubik-Light';
  font-size: 16px;
  color: #9B9B9B;
  padding: 10px 12px;
}
.forgotPassword .forgotPasswordContent .right .formBody div {
  text-align: center;
}
.forgotPassword .forgotPasswordContent .right .formBody div button {
  border: none;
  outline: none;
  border-radius: 1px;
  cursor: pointer;
  color: #fff;
  font-family: 'Rubik-Bold';
  font-size: 18px;
  padding: 15px 25px;
  background-color: #57D284;
  margin: 25px 0;
  text-align: center;
}
